<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I See Me</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../stylesheets/styles.css">
</head>

<body>
  <div class="container">
      <div class="portfolio-area top">
        <div id="Nav">
          <nav>
            <ul>
               <a href="index.ejs">Home |</a>
               <a href="store.ejs">Shop the Store |</a>
               <a href="contact.ejs">Contact Us</a>
           </ul>
        </nav>
      </div>
    </div>
<h1>Contact Us</h1>
<p>
  We are glad you stopped by. If you have any questions or concerns please feel free to contact us.
</p>

</body>
</html>
