<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I See Me</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../stylesheets/index.css">
</head>

<body>
  <div class="container">
      <div class="portfolio-area top">
        <div id="Nav">
          <nav>
            <ul>
               <a href="index.ejs">Home |</a>
               <a href="store.ejs">Shop the Store |</a>
               <a href="contact.ejs">Contact Us</a>
           </ul>
        </nav>
      </div>
    </div>

<h1>I See Me </h1>


<!-- Homepage/index page -->
<div id="index">


<p>
  This site is for You to embrace everything that's inheritly You. We all come in many colors,shapes, forms and fashion. See yourself like I see me...
</p>

<a href="login.ejs" class="btn btn-info" role="button">Press Here to Login</a>
<a href="signup.ejs" class="btn btn-info" role="button">Press Here to Sign Up</a>
  </div>
</body>
</html>

<!-- end homepage -->
