<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I see Me</title>
  <link rel="stylesheet" href="../stylesheets/login.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container">
      <div class="portfolio-area top">
        <div id="Nav">
          <nav>
            <ul>
               <a href="/index.ejs">Home |</a>
               <a href="/store.ejs">Shop the Store |</a>
               <a href="contact.ejs">Contact Us</a>
           </ul>
        </nav>
      </div>
    </div>

<div class="container">
  <section class="maincontent">
    <h1 id='loginh1'> Welcome to iseeme! </h1>
    <hr>
    <p> </p>

  <div class="wrapper">
  <form action="/login" method='post' class="login" >
    <p class="title">Log in</p>
    <input type="text" name="username" placeholder="Username" id="username"/>
    <input type="password" name="password" placeholder="Password" id="password"/>
    <button id="loginbutton">
      <span class="state">Log in</span>
    </button>
    <a href="signup.ejs" class="btn btn-info" role="button">Press Here to Sign Up</a>

  </form>

  </div>

</div>
</body>
</html> -->
