<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>I see Me</title>
  <link rel="stylesheet" href="../stylesheets/signup.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

  <div class="container">
      <div class="portfolio-area top">
        <div id="Nav">
          <nav>
            <ul>
               <a href="/index.ejs">Home |</a>
               <a href="/store.ejs">Shop the Store |</a>
               <a href="/contact.ejs">Contact Us</a>
           </ul>
        </nav>
      </div>
    </div>

    <div class="container">
  <h1 id="signupheader">Sign up to apart of iseeme.xyz.</h1>
   <hr>
    <div class="wrapper">
      <form action="/signup" method='post' class="signup">
        <p class ="title">Sign Up</p>
        <input type="text" name="username" placeholder="Username" id="username"/>
        <input type="password" name="password" placeholder="Password" id="password"/>
        <input type="email" name="email" placeholder="Email" id="email"/>
        <button id="loginbutton">
        <span class="state">Sign Up!</span>
      </form>
      </div>
  </div>
  <a href="login.ejs" class="btn btn-info" role="button">Press Here to Login</a>

<script src="../javascripts/profile.js"></script>
</body>
</html> -->
